/*===========================================================
  PROJECT NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {
    --text-col:         #111;

    --back-col:         #cdd;
    --back-col-panel:   #fff;

    --border-col:       #355;

    --accent-col:       #e43;
}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--back-col);
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
    padding: 1rem;

    color: var(--text-col);
    background-color: var(--back-col);
}


main {
    max-width: 60rem;
    margin-inline: auto;
    padding: 1rem;

    background-color: var(--back-col-panel);
    border: 1px solid var(--border-col);
    border-radius: 1rem;
}

a {
    color: var(--accent-col);
}




